/**
 * -- -- -- -- -- -- -- -- -- -- --
 * --           myIP             --
 * -- -- -- -- -- -- -- -- -- -- --
 * -- author  nico hemkes    --
 * -- mail    chrome@nokes.de  --
 * -- -- -- -- -- -- -- -- -- -- --
 */
:root{
  --white: #fefefe;
  --black: #111;
  --primary: #2196f2;
}

*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 76%;
}

body{
  background: var(--white);
  font: 13px Arial, Verdana, sans-serif;
  color: var(--black);
  width: 300px;
}

a{
  color: var(--primary);
  text-decoration: underline;
}

a:hover{
  text-decoration: none;
}

.mt-2{
  margin-top: 0.222rem
}

.popup{
  margin: 0 auto;
}

.popup header{
  background: var(--primary);
  padding: 0.85rem 1rem;
  font-weight: bold;
  color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.popup header span{
  letter-spacing: 1px;
}

.popup header div{
  display: flex;
  flex-direction: row;
}

.popup header a{
  color: var(--white);
  text-decoration: none;
  font-weight: normal;
  font-size: 1rem;
  padding: 0 3px;
}

.popup header a:hover{
  text-decoration: underline;
}

.popup section{
  margin: 10px auto 0;
}

.popup section#show-ip, .popup section#show-more{
  display: none;
}

.popup #img-loading{
  display: block;
  margin: 2rem auto;
  text-align: center;
}

.popup section .row{
  padding: 0.15rem 1.25rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.popup section .row h3{
  font-size: 1rem;
  font-weight: bold;
  padding: 4px 0 0;
  text-transform: uppercase;
}

.popup section .row .info{
  flex: 0 0 35%;
}

.popup section .row .info a,
.popup section .row .data a{
  color: #4e6b81;
  text-decoration: none;
}

.popup section .row .data{
  flex: 0 0 65%;
  text-align: right;
}

.popup section .row .info-box{
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.popup section .row .info-box h1{
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
}

.popup section .row .info-box span{
  font-size: 12px;
}

.popup section .row .info-box #remoteIP{
  cursor: pointer;
}

#show-more{
  padding: 0.2rem 0 0.75rem;
  border-top: 1px solid #eee;
  background: #f8f8f8;
}
